*.pyc
*_run_log.txt
data/**
!/data/**/
!data/**/.gitkeep

!data/mappings/**

!data/output/**/
!data/output/json_tests/atm/donor/**
!data/output/json_tests/atm/ground_truth/**


data.bak/
.idea/
**/.ipynb_checkpoints
